/* shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
}
/* header work */
/* Nav work */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.125rem;
}

.f-nav {
  display: flex;
  align-items: center;
}

.l-nav {
  display: flex;
}

.nav-ul li {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  margin-left: 2.75rem;
  color: var(--Dark-02, #424247);
  font-size: 1.125rem;
  font-weight: 400;
}
/* nav Hero Travel Title */
.nav-title {
  margin-left: 17px;
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.part2-of-title {
  color: #ff5400;
}
/* banner work */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  height: 31.25rem;
  width: 62%;
  margin: 3.125rem auto;
  text-align: center;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-top: 6.625rem;
}
.banner-discription {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}
.options-inside-banner {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 185px;
  gap: 24px;
}
.option {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  margin: 16px 0;
}
.inside-option {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  padding: 1rem;
}
.banner-btn {
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
}
#banner-btn-icon {
  padding-right: 8px;
}
/* banner work done */
/* Popular tour work */
.Popular-Tours {
  display: flex;
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 100px;
}
.popular-tour-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular-tour-discription {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  padding-bottom: 8px;
}
.popular-tour-li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 16px 0;
  margin-left: 20px;
}
#middle-tour {
  padding: 0;
}

.last-discription-popular-tour {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.read-more {
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 35px;
  margin-top: 36px;
}

.Popular-Tours img {
  padding-left: 80px;
}

@media screen and (max-width: 576px) {
  .nav,
  .l-nav,
  .options-inside-banner,
  .Popular-Tours {
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
  }
  .banner-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    padding-top: 32px;
  }
  .banner-discription {
    padding-top: 8px;
    height: 63px;
  }
  .banner {
    width: 90%;
    margin-bottom: 0;
  }
  .options-inside-banner {
    margin: 0;
    gap: 0;
    width: 85%;
    margin-left: 20px;
  }
  .option,
  .banner-btn {
    width: 255px;
  }
  .popular-tour-title {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
    padding-top: 24px;
    margin-top: 0;
  }
  .Popular-Tours img{
    width: 100%;
    padding: 0;
  }
  .Popular-Tours{
    /* padding: 0; */
    margin: 0 20px;
  }
}
